.AuthContainer {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 3%;
    flex-wrap: wrap;

    @media screen and (max-width: $l) {
        width: 90%;
    }

    h1 {
        margin-left: 5%;
    }

    .submit-button {
        border-style: none;
        background-color: $custom-purple;
        display: block;
        font-weight: bold;
        padding: 0 20px;
        min-width: 160px;
        height: 50px;
        border-radius: 25px;
        margin: 10% auto;
        font-size: 14px;
        color: white;
        text-transform: uppercase;
        transition: all 0.4s;
        cursor: pointer;

        &:hover {
            background-color: darken($custom-purple, 20%);
        }
    }

    .form-group {
        .form-input {
            width: 80%;
            border: none;
            border-radius: 16px;
            background-color: white;
            padding: 15px 15px;
            margin: 7% auto;
            display: block;
            box-shadow: 0px 0px 8px lightgray;
            transition: 0.5s ease;

            &:focus {
                border: 1px solid #555;
            }

            @media screen and (max-width: $xs) {
                width: 70%;
            }
        }

        .radio-button {
            display: flex;
            justify-content: space-between;
            margin: 7% auto;
            width: 80%;
        }
    }

    .separator {
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(to bottom, gray, rgba(0, 0, 0, 0)) 1 100%;

        @media screen and (max-width: $xl) {
            border: none;
        }
    }

    .box-shadow {
        box-shadow: 0px 0px 10px grey;
    }

    .LoginContainer {
        background-color: white;
        border-radius: 5%;
        padding: 3%;
        min-width: 300px;
        margin: 0% 3%;

        @media screen and (max-width: $l) {
            margin: 3% 3%;
        }

        @media screen and (max-width: $xs) {
            min-width: 220px;
        }

        .center {
            display: flex;
            justify-content: space-between;
            align-content: center;
            flex-wrap: wrap;
            margin: auto;
            width: 90%;
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            padding-bottom: 24px;
            padding-top: 3px;

            .checkbox {
                display: flex;
                align-content: center;
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            a {
                color: $custom-purple;

                &:hover {
                    color: darken($custom-purple, 20%);
                }
            }
        }

        .providers-login {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            a {
                text-decoration: none;
                color: black;
            }
            .GitHub {
                margin-top: 3%;
                padding-right: 10px;
                padding-left: 10px;
                display: flex;
                border-radius: 16px;
                background-color: rgba(70, 70, 70, 0.324);
                img {
                    width: 2rem;
                    margin-right: 1rem;
                }

                &:hover {
                    background-color: darken(rgba(70, 70, 70, 0.324), 30%);
                    color: white;
                }
            }
        }
    }

    .RegisterContainer {
        background-color: white;
        border-radius: 5%;
        margin: 0 3%;
        min-width: 300px;
        padding: 3%;
        margin: 0% 3%;

        @media screen and (max-width: $l) {
            margin: 3% 3%;
        }

        @media screen and (max-width: $xs) {
            margin: 8% 3%;
            min-width: 220px;
        }
    }
}
