html,
body {
    background-image: linear-gradient(
        to bottom right,
        $custom-blue,
        $backgroundColor,
        $backgroundColor
    );
    background-repeat: no-repeat;
    color: $regularTextColor;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    margin: 0;
    transition: background-color 0.5s;
}

.content {
    margin-bottom: 1%;
    width: 100%;
}

.alert-container {
    position: relative;

    .alert {
        position: absolute;
        top: 20px;
        right: 10px;
        padding: 25px;
        border-radius: 16px;
        max-width: 120px;
        text-align: center;
        color: white;

        img {
            width: 80%;
        }

        h1 {
            margin-bottom: 0px;
            font-size: 1.5rem;
        }

        span {
            font-size: 0.9rem;
        }
    }

    .alert-success {
        background: green;
        box-shadow: 0px 0px 8px lighten(green, 50%);
    }

    .alert-fail {
        background: red;
        box-shadow: 0px 0px 8px lighten(red, 50%);
    }
    .alert-warning {
        background: orange;
        box-shadow: 0px 0px 8px lighten(orange, 50%);
    }
}
