.nav-bar {
    .full-height {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
        background-color: rgba(19, 17, 17, 0.39);
    }

    .navbar-order {
        display: flex;
        align-items: center;
        width: 95%;
        margin: auto;
        height: 60px;
        justify-content: space-between;

        @media screen and (max-width: $l) {
            height: 50px;
        }
    }

    .logo {
        height: 55px;

        @media screen and (max-width: $l) {
            height: 45px;
        }
    }

    .icon {
        height: 50px;

        @media screen and (max-width: $l) {
            height: 40px;
        }
    }

    img {
        height: 60px;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        border-right: 1px solid gray;

        @media screen and (max-height: 450px) {
            padding-top: 15px;
        }

        ul {
            list-style-type: none;
            padding-left: 0;
        }

        a {
            text-decoration: none;
            color: white;
            text-align: center;
            font-size: 28px;
            display: block;
            transition: 0.3s;
            padding: 20px 0px;
            font-weight: 400;

            @media screen and (max-height: 450px) {
                font-size: 18px;
            }
        }

        .page {
            &:hover {
                font-weight: bold;
            }
        }

        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }
    }
}
