.footer {
    width: 80%;
    color: black;
    height: 80px;
    border-top: 0.5px solid gray;
    margin: auto;
    padding: 1%;

    @media screen and (max-width: $m) {
        width: 100%;
    }

    .project-info {
        span {
            display: block;
            clear: both;
        }
    }

    .social-media {
        align-items: center;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .icon {
        width: 30px;
        margin: 0px 5px;
    }
}
