html,
body {
    background-image: linear-gradient(
        to bottom right,
        $custom-blue,
        $backgroundColor,
        $backgroundColor
    );
    background-repeat: no-repeat;
    color: $regularTextColor;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    margin: 0;
    transition: background-color 0.5s;
}

.content {
    margin-bottom: 1%;
    width: 100%;
}


