$backgroundColor: white;
$regularTextColor: #636b6f;
$custom-blue: rgb(213, 197, 255);
$logoColor: rgb(15, 78, 167);

html,
body {
    background-image: linear-gradient(
        to bottom right,
        $custom-blue,
        $backgroundColor,
        $backgroundColor
    );
    background-repeat: no-repeat;
    color: $regularTextColor;
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    margin: 0;
    transition: background-color 0.5s;
}

.content {
    margin-bottom: 1%;
    width: 100%;
}

.fixedbutton {
    bottom: 3%;
    margin-left: 85%;
    margin-right: 3%;
    right: 10px;
    width: 3%;
    border-radius: 50%;
    background-image: linear-gradient(
        to bottom right,
        $custom-purple,
        $logoColor
    );
    padding: 10px;
    z-index: 1;
    &:hover {
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);

    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 40%;
        border-radius: 16px;

        .preview-image {
            width: 20%;
            height: auto;
            display: block;
            margin: auto;
        }

        .submit-button {
            border-style: none;
            background-color: $custom-purple;
            display: block;
            font-weight: bold;
            padding: 0 20px;
            min-width: 160px;
            height: 50px;
            border-radius: 25px;
            margin: 10% auto;
            font-size: 14px;
            color: white;
            text-transform: uppercase;
            transition: all 0.4s;
            cursor: pointer;

            &:hover {
                background-color: darken($custom-purple, 20%);
            }
        }

        .form-input {
            width: 80%;
            font-size: 16px;
            color: #444;
            border: none;
            border-radius: 16px;
            background-color: white;
            padding: 15px 15px;
            margin: 5% auto;
            display: block;
            box-shadow: 0px 0px 8px lightgray;
            transition: 0.5s ease;

            &:focus {
                border: 1px solid #555;
            }

            @media screen and (max-width: $xs) {
                width: 70%;
            }
        }

        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }

        .inputfile + label {
            font-size: 1.25em;
            font-weight: 700;
            color: white;
            background-color: black;
            display: inline-block;
            cursor: pointer;
        }

        .inputfile:focus + label,
        .inputfile + label:hover {
            background-color: red;
        }

        .spacing {
            margin: 0% 3%;
        }

        .form-double-input {
            display: flex;
            justify-content: space-between;
            width: 80%;
            margin: auto;
        }

        textarea {
            height: 150px;
            resize: none;
            overflow: hidden;
        }
    }

    /* The Close Button */
    .close {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;

        &:hover,
        :focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    }
}
