.posts-container {
    background-image: url("/background.png");
    width: 100%;
    margin-top: 5%;

    .search-container {
        margin: auto;
        display: block;
        margin-bottom: 5%;

        form {
            width: 40%;
            margin: auto;
            display: flex;
            justify-content: space-between;

            .search-input {
                width: 60%;
                font-size: 16px;
                color: #444;
                border: none;
                background-color: white;
                padding: 15px 15px;
                margin-right: 0;
                transition: 0.5s ease;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
                background: white url("icons/search.svg") no-repeat scroll;
                background-position: 2% center;
                background-size: auto 50%;
                padding-left: 50px;

                @media screen and (max-width: $xs) {
                    width: 90%;
                }

                &:focus {
                    border: 1px solid #555;
                }
            }

            .search-select {
                text-align: center;
                width: 30%;
                font-size: 16px;
                color: #444;
                border: none;
                border-left: 1px solid lightgray;
                background-color: white;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                cursor: pointer;

                &:after {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 50px;
                    height: 100%;
                    line-height: 38px;
                    content: "\2228";
                    text-align: center;
                    color: #714bb9;
                    font-size: 24px;
                    border-left: 1px solid #3c1c78;
                    z-index: -1;
                }

                &:focus {
                    border: 1px solid #555;
                }
            }

            .search-submit {
                width: 15%;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                font-size: 16px;
                color: white;
                border: none;
                background-color: $custom-purple;
                cursor: pointer;
                transition: 0.5s ease;

                &:hover {
                    background-color: darken($custom-purple, 20%);
                }
            }
        }
    }

    .posts {
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: auto;

        .card {
            display: grid;
            grid-template-columns: 300px;
            grid-template-rows: 220px 120px 40px 60px;
            grid-template-areas: "image" "text" "tags" "stats";
            border-radius: 18px;
            background: white;
            box-shadow: 0px 0px 5px grey;
            text-align: center;
            transition: 0.2s ease;
            cursor: pointer;
            margin: 2%;
            transform: scale(1.005);

            @media screen and (max-width: $s) {
                grid-template-columns: 250px;
            }

            &:hover {
                transform: scale(1);
                box-shadow: 0px 0px 3px grey;
            }

            .card-image {
                grid-area: image;
                background: var(--background);
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
                background-size: cover;
                background-position: center;
            }

            .card-text {
                grid-area: text;
                margin: 25px;

                .date {
                    font-size: 13px;
                }

                p {
                    color: grey;
                    font-size: 15px;
                    font-weight: 300;
                }

                h2 {
                    margin-top: 0px;
                    font-size: 28px;
                }
            }

            .card-tags {
                grid-area: tags;
                display: flex;
                justify-content: center;

                .tag {
                    font-weight: bold;
                    color: gray;
                    font-size: 12px;
                    margin: auto 10px;
                }
            }

            .card-stats {
                grid-area: stats;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 1fr;
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
                background-image: linear-gradient(
                    to bottom right,
                    $custom-purple,
                    $logoColor
                );

                .icon {
                    height: 20px;

                    @media screen and (max-width: $s) {
                        height: 15px;
                    }
                }

                .stat {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    padding: 10px;
                    color: white;

                    .value {
                        font-size: 24px;
                        font-weight: 500;

                        @media screen and (max-width: $s) {
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 5% auto;
        margin-top: 2%;

        ul {
            display: inline-block;
            list-style-type: none;
            font-size: 18px;
            font-weight: bold;
            text-decoration: none !important;
            margin: 5% 0%;
            margin-bottom: 2%;

            li {
                display: inline;

                a {
                    text-decoration: none;
                    border: 1px solid gray;
                    color: gray;
                    border-radius: 50%;
                    padding: 15px 20px;

                    &:hover {
                        color: white;
                        cursor: pointer;
                        background-color: $logoColor;
                        border: 1px solid $logoColor;
                    }
                }
            }

            .active {
                color: white;
                background-color: $logoColor;
                border: 1px solid $logoColor;
                border-radius: 50%;
                padding: 15px 20px;
            }
        }
    }
}
