// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$fontFamilyText: Open Sans Condensed;
$fontFamilyTitle: "Roboto", sans-serif;
$paddingLeftCard: 5%;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$custom-purple: rgb(162, 23, 255);
$colorText: #fff;
$logoColor: rgb(15, 78, 167);


//Screen size
$xl: 1600px;
$l: 1200px;
$m: 770px;
$s: 500px;
$xs: 350px;
$xxs: 250px;


//Mixins

@mixin containers-width {
    @media screen and (max-width: $xl){
        width: 80%;
    }
    @media screen and (max-width: $l){
        width: 80%;
    }
    @media screen and (max-width: $m){
        width: 90%;
    }
    @media screen and (max-width: $s){
        width: 90%;
    }
    @media screen and (max-width: $xs){
        width: 100%;
    }
    @media screen and (max-width: $xxs){
        width: 100%;
    }
}

