
.welcome-container {
    
    display: block;
    margin: auto;
    @include containers-width();
    .welcomeCard {
        text-align: left;
        margin-bottom: 10%;
        margin-left: $paddingLeftCard;;
        .titleWC {
            width: 100%;
            font-weight: bold;
            margin-bottom: 0;
            color: $custom-purple;
            font-family: $fontFamilyTitle;
                @media screen and (max-width: $xl){
                    font-size: 100px;
                }
                @media screen and (max-width: $m){
                    font-size: 75px;
                }
                @media screen and (max-width: $xs){
                    font-size: 50px;
                }


        }

        .textWC {
         
            margin-top: 1%;
            color: black;
            font-size: 36px;
            font-family: $fontFamilyText;
        }
    }

    .shortcutSection {
        width: 80%;
        padding-bottom: 3%;
        display: flex;
        text-align: center;
        justify-content: center;
        margin: auto;
        @media screen and (max-width: $s){
            flex-direction: column;
        }
        div {
            min-width: 30px;
            margin: 0 auto;
            width: 30%;
            p {
                font-size: 28px;
                padding: 2%;
                @media screen and (max-width: $s){
                    font-size: 26px;
                }
            }
            img {
                width: 50%;
            }
            @media screen and (max-width: $s){
                width: 100%;
            }
        }
    }

    button {
        display: block;
        margin: auto;
        color: white;
        background-image: linear-gradient(
            to bottom right,
            rgb(162, 23, 255),
            rgb(39, 77, 247)
        );
        border-radius: 25px;
        padding: 1%;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
        cursor: pointer;
        &:hover {
            box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
        }
        &:focus {
            outline: 0;
        }
    }

    
}
