.welcome-container {
    display: block;
    margin: auto;
    @include containers-width();
    width: 80%;

    .header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin: 10% auto;
        margin-top: 5%;

        @media screen and (max-width: $l) {
            width: 100%;
        }

        .welcomeCard {
            text-align: left;
            width: 50%;

            @media screen and (max-width: $l) {
                width: 100%;
            }

            .titleWC {
                font-weight: bold;
                margin-bottom: 0;
                font-size: 100px;
                color: $custom-purple;
                font-family: $fontFamilyTitle;

                @media screen and (max-width: $l) {
                    font-size: 75px;
                }
                @media screen and (max-width: $xs) {
                    font-size: 50px;
                }
            }

            .textWC {
                color: black;
                font-size: 36px;
                font-family: $fontFamilyText;

                @media screen and (max-width: $s) {
                    font-size: 26px;
                }
            }
        }
        .welcomeImage {
            width: 50%;

            .homepage-image {
                width: 100%;

                @media screen and (max-width: $l) {
                    display: none;
                }
            }
        }
    }

    .shortcutSection {
        width: 100%;
        padding-bottom: 3%;
        display: flex;
        text-align: center;
        justify-content: space-around;
        margin: auto;
        flex-wrap: wrap;

        @media screen and (max-width: $m) {
            width: 90%;
        }

        div {
            min-width: 30px;
            margin: 0 auto;
            width: 30%;

            @media screen and (max-width: $s) {
                width: 100%;
                margin-bottom: 5%;
            }

            p {
                font-size: 28px;
                @media screen and (max-width: $m) {
                    font-size: 22px;
                }

                @media screen and (max-width: $s) {
                    font-size: 26px;
                }

                @media screen and (max-width: $xs) {
                    font-size: 26px;
                }
            }
            img {
                width: 50%;
                max-width: 200px;
                min-width: 70px;

                @media screen and (max-width: $s) {
                    min-width: 130px;
                    width: 40%;
                }
            }
        }
    }

    button {
        display: block;
        margin: auto;
        color: white;
        background-image: linear-gradient(
            to bottom right,
            rgb(162, 23, 255),
            rgb(39, 77, 247)
        );
        border-radius: 25px;
        padding: 1%;
        padding-left: 2%;
        padding-right: 2%;
        text-align: center;
        cursor: pointer;
        &:hover {
            box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
        }
        &:focus {
            outline: 0;
        }
    }
}
