@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);@import url(https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap);.welcome-container .welcomeCard {
  text-align: left;
  margin-bottom: 1%;
  padding-bottom: 5%;
}

.welcome-container .titleWC {
  font-weight: bold;
  padding-left: 5%;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 1%;
  color: #fff;
  font-size: 100px;
  font-family: "Ubuntu", sans-serif;
  text-shadow: -2px 0 #0f4ea7, 0 2px #0f4ea7, 2px 0 #0f4ea7, 0 -2px #0f4ea7;
}

.welcome-container .textWC {
  padding-left: 5%;
  width: 60%;
  color: black;
  font-size: 26px;
  font-family: Open Sans Condensed;
}

.welcome-container .shortcutSection {
  width: 80%;
  padding-bottom: 10%;
  display: -webkit-box;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: auto;
}

.welcome-container .shortcutSection div {
  margin: 0 auto;
  width: 30%;
}

.welcome-container .shortcutSection div p {
  padding: 2%;
}

.welcome-container .shortcutSection div img {
  width: 50%;
}

.welcome-container button {
  display: block;
  margin: auto;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a217ff), to(#274df7));
  background-image: linear-gradient(to bottom right, #a217ff, #274df7);
  border-radius: 25px;
  padding: 1%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: center;
}

.welcome-container button:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
}

.welcome-container button:focus {
  outline: 0;
}

html,
body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0f4ea7), color-stop(#fff), to(#fff));
  background-image: linear-gradient(to bottom, #0f4ea7, #fff, #fff);
  background-repeat: no-repeat;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.content {
  margin-bottom: 1%;
  width: 100%;
}

.fixedbutton {
  bottom: 3%;
  margin-left: 85%;
  right: 10px;
  width: 3%;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a217ff), to(#274df7));
  background-image: linear-gradient(to bottom right, #a217ff, #274df7);
  padding: 10px;
  z-index: 1;
}

.fixedbutton:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
}

#loginScreen {
  display: -webkit-box;
  display: flex;
}

.about-container .imgAbout {
  height: 400px;
  background-image: url(/images/aboutus.png?c2ed89cfcbe841c9fba0ec86902b93bc);
  background-position: center;
  box-shadow: 0px 20px 20px black inset;
}

.about-container .aboutAndLogo {
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.about-container .aboutAndLogo .logo {
  width: 20%;
}

.about-container .aboutAndLogo .logo img {
  width: 100%;
  padding-top: 3%;
}

.about-container .aboutAndLogo .about {
  padding-top: 3%;
  width: 40%;
  text-align: left;
}

.profile-container button {
  display: block;
  margin: auto;
}

