@import url(https://fonts.googleapis.com/css?family=Nunito);@import url(https://fonts.googleapis.com/css?family=Roboto&display=swap);@import url(https://fonts.googleapis.com/css?family=Ubuntu:700&display=swap);@import url(https://fonts.googleapis.com/css?family=Alata&display=swap);@import url(https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap);@import url(https://fonts.googleapis.com/css?family=Rancho&display=swap);@charset "UTF-8";

.welcome-container {
  display: block;
  margin: auto;
  width: 80%;
}

@media screen and (max-width: 1200px) {
  .welcome-container {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .welcome-container {
    width: 90%;
  }
}

@media screen and (max-width: 250px) {
  .welcome-container {
    width: 95%;
  }
}

.welcome-container .header-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 10% auto;
}

@media screen and (max-width: 1200px) {
  .welcome-container .header-container {
    width: 100%;
  }
}

.welcome-container .header-container .welcomeCard {
  text-align: left;
  width: 50%;
}

@media screen and (max-width: 1200px) {
  .welcome-container .header-container .welcomeCard {
    width: 100%;
  }
}

.welcome-container .header-container .welcomeCard .titleWC {
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 0;
  font-size: 100px;
  color: #a217ff;
  font-family: "Rancho", cursive;
}

@media screen and (max-width: 1200px) {
  .welcome-container .header-container .welcomeCard .titleWC {
    font-size: 75px;
  }
}

@media screen and (max-width: 350px) {
  .welcome-container .header-container .welcomeCard .titleWC {
    font-size: 50px;
  }
}

.welcome-container .header-container .welcomeCard .textWC {
  color: black;
  font-size: 36px;
  font-family: "Rancho", cursive;
  margin-top: 5px;
}

@media screen and (max-width: 500px) {
  .welcome-container .header-container .welcomeCard .textWC {
    font-size: 26px;
  }
}

.welcome-container .header-container .welcomeCard div {
  width: 100%;
}

.welcome-container .header-container .welcomeCard div .intro-btn {
  width: 120px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 26px;
  font-family: "Alata", sans-serif;
  padding: 12px 36px;
  border-radius: 16px;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .welcome-container .header-container .welcomeCard div .intro-btn {
    width: 80px;
    font-size: 14px;
  }
}

@media screen and (max-width: 500px) {
  .welcome-container .header-container .welcomeCard div .intro-btn {
    width: 40px;
    font-size: 12px;
  }
}

.welcome-container .header-container .welcomeCard div .intro-btn:focus {
  outline: none;
}

.welcome-container .header-container .welcomeCard div .intro-btn:hover {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
}

.welcome-container .header-container .welcomeCard div #posts-btn {
  margin-right: 10px;
  background-color: #a217ff;
  color: white;
  border: 1px solid #a217ff;
}

@media screen and (max-width: 770px) {
  .welcome-container .header-container .welcomeCard div #posts-btn {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.welcome-container .header-container .welcomeCard div #start-btn {
  border: 1px solid #a217ff;
  color: #a217ff;
}

.welcome-container .header-container .welcomeImage {
  width: 50%;
}

.welcome-container .header-container .welcomeImage .homepage-image {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .welcome-container .header-container .welcomeImage .homepage-image {
    display: none;
  }
}

.welcome-container .shortcutSection {
  width: 100%;
  padding-bottom: 3%;
  display: -webkit-box;
  display: flex;
  text-align: center;
  justify-content: space-around;
  margin: auto;
  flex-wrap: wrap;
}

@media screen and (max-width: 770px) {
  .welcome-container .shortcutSection {
    width: 90%;
  }
}

.welcome-container .shortcutSection div {
  min-width: 30px;
  margin: 0 auto;
  width: 30%;
}

@media screen and (max-width: 500px) {
  .welcome-container .shortcutSection div {
    width: 100%;
    margin-bottom: 5%;
  }
}

.welcome-container .shortcutSection div p {
  font-size: 28px;
}

@media screen and (max-width: 770px) {
  .welcome-container .shortcutSection div p {
    font-size: 22px;
  }
}

@media screen and (max-width: 500px) {
  .welcome-container .shortcutSection div p {
    font-size: 26px;
  }
}

@media screen and (max-width: 350px) {
  .welcome-container .shortcutSection div p {
    font-size: 26px;
  }
}

.welcome-container .shortcutSection div img {
  width: 50%;
  max-width: 200px;
  min-width: 70px;
}

@media screen and (max-width: 500px) {
  .welcome-container .shortcutSection div img {
    min-width: 130px;
    width: 40%;
  }
}

.welcome-container .animated-board {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
  margin: 5% auto;
  width: 80%;
}

@media screen and (max-width: 770px) {
  .welcome-container .animated-board {
    display: block;
    width: 100%;
  }
}

.welcome-container .animated-board .animated-text {
  width: 45%;
  margin-right: 3%;
}

@media screen and (max-width: 770px) {
  .welcome-container .animated-board .animated-text {
    width: 100%;
  }
}

.welcome-container .animated-board .animated-text .animated-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.welcome-container .animated-board .animated-text .animated-list #d-1 {
  background-color: #8d08e6;
}

.welcome-container .animated-board .animated-text .animated-list .list-item {
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.342);
  margin: 2%;
  border-radius: 16px;
  cursor: pointer;
  color: white;
  background-color: #3f3e54;
  padding: 15px 15px;
  display: block;
}

.welcome-container .animated-board .animated-text .animated-list .list-item p {
  display: none;
}

.welcome-container .animated-board .animated-images {
  width: 45%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-left: 3%;
  margin: 0 auto;
}

@media screen and (max-width: 770px) {
  .welcome-container .animated-board .animated-images {
    width: 90%;
    margin: 10% auto;
  }
}

.welcome-container .animated-board .animated-images .img-class {
  height: 100%;
  min-width: 250px;
  display: none;
}

@media screen and (max-width: 770px) {
  .welcome-container .animated-board .animated-images .img-class {
    width: 60%;
    height: auto;
  }
}

.welcome-container .animated-board .animated-images #img-1 {
  display: block;
}

html,
body {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#e7ddff), color-stop(white), to(white));
  background-image: linear-gradient(to bottom right, #e7ddff, white, white);
  background-repeat: no-repeat;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  margin: 0;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.content {
  margin-bottom: 1%;
  width: 100%;
}

#loginScreen {
  display: -webkit-box;
  display: flex;
}

.about-container .imgAbout {
  height: 400px;
  background-image: url(/images/aboutus.png?c2ed89cfcbe841c9fba0ec86902b93bc);
  background-position: center;
  box-shadow: 0px 20px 20px black inset;
}

.about-container .imgAbout {
  height: 400px;
  background-image: url("/aboutus.png");
  background-position: center;
  box-shadow: 0px 20px 20px black inset;
}

.about-container .aboutAndLogo {
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.about-container .aboutAndLogo .logo {
  width: 20%;
}

.about-container .aboutAndLogo .logo img {
  width: 100%;
  padding-top: 3%;
}

.about-container .aboutAndLogo .about {
  padding-top: 3%;
  width: 40%;
  text-align: left;
}

.AuthContainer {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  padding: 3%;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .AuthContainer {
    width: 90%;
  }
}

.AuthContainer h1 {
  margin-left: 5%;
}

.AuthContainer .submit-button {
  border-style: none;
  background-color: #a217ff;
  display: block;
  font-weight: bold;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  border-radius: 25px;
  margin: 10% auto;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.AuthContainer .submit-button:hover {
  background-color: #6900b0;
}

.AuthContainer .form-group .form-input {
  width: 80%;
  border: none;
  border-radius: 16px;
  background-color: white;
  padding: 15px 15px;
  margin: 7% auto;
  display: block;
  box-shadow: 0px 0px 8px lightgray;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.AuthContainer .form-group .form-input:focus {
  border: 1px solid #555;
}

@media screen and (max-width: 350px) {
  .AuthContainer .form-group .form-input {
    width: 70%;
  }
}

.AuthContainer .form-group .radio-button {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 7% auto;
  width: 80%;
}

.AuthContainer .separator {
  border-width: 1px;
  border-style: solid;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(gray), to(rgba(0, 0, 0, 0))) 1 100%;
  -webkit-border-image: linear-gradient(to bottom, gray, rgba(0, 0, 0, 0)) 1 100%;
       -o-border-image: linear-gradient(to bottom, gray, rgba(0, 0, 0, 0)) 1 100%;
          border-image: -webkit-gradient(linear, left top, left bottom, from(gray), to(rgba(0, 0, 0, 0))) 1 100%;
          border-image: linear-gradient(to bottom, gray, rgba(0, 0, 0, 0)) 1 100%;
}

@media screen and (max-width: 1600px) {
  .AuthContainer .separator {
    border: none;
  }
}

.AuthContainer .box-shadow {
  box-shadow: 0px 0px 10px grey;
}

.AuthContainer .LoginContainer {
  background-color: white;
  border-radius: 5%;
  padding: 3%;
  min-width: 300px;
  margin: 0% 3%;
}

@media screen and (max-width: 1200px) {
  .AuthContainer .LoginContainer {
    margin: 3% 3%;
  }
}

@media screen and (max-width: 350px) {
  .AuthContainer .LoginContainer {
    min-width: 220px;
  }
}

.AuthContainer .LoginContainer .center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  padding-bottom: 24px;
  padding-top: 3px;
}

.AuthContainer .LoginContainer .center .checkbox {
  display: -webkit-box;
  display: flex;
  align-content: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.AuthContainer .LoginContainer .center a {
  color: #a217ff;
}

.AuthContainer .LoginContainer .center a:hover {
  color: #6900b0;
}

.AuthContainer .RegisterContainer {
  background-color: white;
  border-radius: 5%;
  margin: 0 3%;
  min-width: 300px;
  padding: 3%;
  margin: 0% 3%;
}

@media screen and (max-width: 1200px) {
  .AuthContainer .RegisterContainer {
    margin: 3% 3%;
  }
}

@media screen and (max-width: 350px) {
  .AuthContainer .RegisterContainer {
    margin: 8% 3%;
    min-width: 220px;
  }
}

.banner-container {
  width: 100%;
  height: 200px;
}

.profile-container {
  display: -webkit-box;
  display: flex;
  margin: 0 auto;
  width: 90%;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.profile-container .about {
  margin-top: -10%;
  width: 30%;
}

.profile-container .about .profile-img-container {
  width: 100%;
  text-align: center;
}

.profile-container .about .profile-img-container img {
  background-color: white;
  border-radius: 16px;
  border: 1px solid white;
  width: 60%;
}

.profile-container .about .profile-data .data-label {
  margin: 1% 0;
  display: -webkit-box;
  display: flex;
  font-size: 1.2rem;
}

.profile-container .about .profile-data .data-label p {
  color: rgba(0, 0, 0, 0.61);
  margin: 0;
}

.profile-container .about .profile-data .data-label #name {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1%;
}

.profile-container .about .profile-data .data-label img {
  height: 0.7em;
}

.profile-container .about .profile-data .contact-follow {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: space-evenly;
          justify-content: space-evenly;
}

.profile-container .about .profile-data .edit-profile a {
  color: rgba(0, 0, 0, 0.404);
  text-decoration: none;
}

.profile-container .about .profile-data .edit-profile a:visited {
  text-decoration: none;
}

.profile-container .about .profile-data .edit-profile a:hover {
  cursor: pointer;
}

.profile-container .about .profile-data .edit-profile a img {
  height: 0.7em;
}

.profile-container .profile-posts {
  width: 70%;
  position: relative;
  overflow: auto;
}

.profile-container .profile-posts .header-info {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-top: 2%;
  margin-bottom: 2%;
}

.profile-container .profile-posts .header-info .user-stats {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
}

.profile-container .profile-posts .header-info .user-stats .stat {
  padding: 1% 0;
  margin: 0;
  text-align: center;
}

.profile-container .profile-posts .header-info .user-stats .stat img {
  height: 0.7em;
}

.profile-container .profile-posts .header-info .user-stats .stat p {
  margin: 0;
  font-weight: bold;
}

.profile-container .profile-posts .profile-posts-section {
  width: 90%;
  margin: 0 auto;
}

.profile-container .profile-posts .profile-posts-section a {
  color: rgba(0, 0, 0, 0.61);
  text-decoration: none;
}

.profile-container .profile-posts .profile-posts-section a:visited {
  text-decoration: none;
}

.profile-container .profile-posts .profile-posts-section .profile_post .post-img-container {
  width: 100%;
}

.profile-container .profile-posts .profile-posts-section .profile_post .post-img-container img {
  width: 50%;
}

.profile-container .profile-posts .profile-posts-section .profile_post .post-stats {
  display: -webkit-box;
  display: flex;
}

.profile-container .profile-posts .profile-posts-section .profile_post .post-stats .stats-item {
  margin: auto 1%;
}

.profile-container .profile-posts .profile-posts-section .no-data {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.post-container {
  width: 80%;
  margin: auto;
  margin-top: 5%;
}

@media screen and (max-width: 1200px) {
  .post-container {
    width: 90%;
  }
}

.post-container button {
  border-style: none;
  background-color: #a217ff;
  display: block;
  font-weight: bold;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  border-radius: 25px;
  margin: 3% auto;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.post-container button:hover {
  background-color: #6900b0;
}

.post-container .post {
  display: -webkit-box;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 10%;
}

.post-container .post .post-content {
  width: 30%;
}

@media screen and (max-width: 1200px) {
  .post-container .post .post-content {
    width: 100%;
  }
}

.post-container .post .post-content .links {
  margin-top: 5%;
}

.post-container .post .post-content .links a {
  text-decoration: none;
}

.post-container .post .post-content .title {
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 0%;
}

.post-container .post .post-content .description {
  margin-top: 1%;
}

.post-container .post .post-content .description a {
  text-decoration: none;
  color: gray;
}

.post-container .post .post-content .description a:hover {
  color: #4d4d4d;
}

.post-container .post .post-content .post-description {
  display: -webkit-box;
  display: flex;
  align-content: center;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .post-container .post .post-content .post-description {
    display: none;
  }
}

.post-container .post .post-content .post-description .item-left {
  width: 50%;
}

.post-container .post .post-content .post-description .user-right {
  width: 45%;
}

@media screen and (max-width: 1200px) {
  .post-container .post .post-content .hide {
    display: none;
  }
}

.post-container .post .post-content .show {
  width: 45%;
}

@media screen and (min-width: 1200px) {
  .post-container .post .post-content .show {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  .post-container .post .post-content .show {
    width: 90%;
  }
}

.post-container .post .post-content .hidden-container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  -webkit-box-align: center;
          align-items: center;
}

.post-container .post .post-content .hidden-container .post-description-hidden {
  display: none;
  text-align: center;
  width: 45%;
}

@media screen and (max-width: 1200px) {
  .post-container .post .post-content .hidden-container .post-description-hidden {
    display: grid;
    grid-template-columns: 31% 31% 31%;
    grid-gap: 10px;
  }
}

@media screen and (max-width: 770px) {
  .post-container .post .post-content .hidden-container .post-description-hidden {
    width: 90%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10px;
  }
}

.post-container .post .post-content .hidden-container .post-description-hidden .hidden-item {
  margin: 1% 5%;
}

.post-container .post .post-content p {
  color: #777777;
}

.post-container .post .post-content h1 {
  font-size: 2rem;
  margin-bottom: 2%;
}

@media screen and (max-width: 1600px) {
  .post-container .post .post-content h1 {
    font-size: 1.5rem;
  }
}

.post-container .post .post-image {
  width: 65%;
  min-width: 700px;
  margin-right: 2%;
  margin-bottom: 1%;
}

@media screen and (max-width: 1200px) {
  .post-container .post .post-image {
    min-width: 0;
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 770px) {
  .post-container .post .post-image {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .post-container .post .post-image {
    width: 100%;
  }
}

.post-container .post .post-image .image {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0px 0px 15px grey;
  height: auto;
}

.post-container .post .post-image .stats-container {
  display: -webkit-box;
  display: flex;
  align-content: center;
  margin-bottom: 5%;
  width: 100%;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.post-container .post .post-image .stats-container .stats {
  display: -webkit-box;
  display: flex;
  align-content: center;
}

.post-container .post .post-image .stats-container img {
  cursor: pointer;
  margin-right: 5px;
  width: 30px;
}

@media screen and (max-width: 1200px) {
  .post-container .post .post-image .stats-container img {
    width: 20px;
  }
}

@media screen and (max-width: 770px) {
  .post-container .post .post-image .stats-container img {
    width: 15px;
  }
}

.post-container .post .post-image .stats-container span {
  font-size: 22px;
  margin-right: 15px;
  font-weight: bold;
}

@media screen and (max-width: 1200px) {
  .post-container .post .post-image .stats-container span {
    font-size: 18px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 770px) {
  .post-container .post .post-image .stats-container span {
    font-size: 14px;
    margin-right: 7px;
  }
}

.post-container .comments-container {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 770px) {
  .post-container .comments-container {
    width: 90%;
  }
}

.post-container .comments-container .input-comment {
  width: 100%;
  min-width: 250px;
  height: 250px;
  margin-bottom: 5%;
  position: relative;
}

@media screen and (max-width: 770px) {
  .post-container .comments-container .input-comment {
    height: 220px;
    min-width: 200px;
  }
}

.post-container .comments-container .input-comment textarea {
  box-shadow: 1px 2px 10px -2px rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  position: relative;
  padding: 10px;
  width: 100%;
  height: 100%;
  border: none;
  text-decoration: none;
  font-size: 16px;
  box-sizing: border-box;
  color: #444;
  resize: none;
  overflow: hidden;
}

.post-container .comments-container .input-comment textarea:focus {
  border: 1px solid #555;
  outline: 0;
}

.post-container .comments-container .input-comment button {
  position: absolute;
  bottom: 1px;
  right: 15px;
}

@media screen and (max-width: 770px) {
  .post-container .comments-container .input-comment button {
    min-width: 60px;
  }
}

.post-container .comments-container .comments {
  width: 100%;
  margin: auto;
}

.post-container .comments-container .comments img {
  width: 40px;
  margin-right: 1%;
  margin-bottom: 0%;
}

.post-container .comments-container .comments .no-data {
  text-align: center;
  margin: auto;
  display: block;
  margin: 3%;
}

.post-container .comments-container .comments .comment {
  display: block;
  padding: 3% 3%;
  margin: 3% auto;
  border-radius: 16px;
  background-color: rgba(188, 166, 248, 0.2);
}

.post-container .comments-container .comments .comment .comment-content {
  border-left: 2px solid lightgray;
  padding: 0% 2%;
  margin-left: 3%;
  font-size: 20px;
}

.post-container .comments-container .comments .comment .comment-content img {
  margin-top: 0%;
  margin-right: 2px;
  width: 25px;
}

.post-container .comments-container .comments .comment .comment-content p {
  margin-bottom: 2px;
  padding: 0;
}

.post-container .comments-container .comments .comment .comment-content .comments-upvotes {
  display: -webkit-box;
  display: flex;
  align-content: center;
}

.post-container .comments-container .comments .comment .comment-user {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: left;
          justify-content: left;
  align-content: center;
}

.post-container .comments-container .comments .comment .comment-user img {
  width: 60px;
}

.post-container .comments-container .comments .comment .comment-user .comment-name {
  font-weight: 700;
  font-size: 1.8em;
  font-size: 24px;
  margin: 0;
  line-height: 1.35;
}

.post-container .comments-container .comments .comment .comment-user .comment-date {
  font-size: 16px;
  margin: 0;
}

.posts-container {
  background-image: url("/background.png");
  width: 100%;
  margin-top: 5%;
}

.posts-container .search-container {
  margin: auto;
  display: block;
  margin-bottom: 5%;
}

.posts-container .search-container form {
  width: 40%;
  margin: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.posts-container .search-container form .search-input {
  width: 60%;
  font-size: 16px;
  color: #444;
  border: none;
  background-color: white;
  padding: 15px 15px;
  margin-right: 0;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: white url(/images/search.svg?c6a0effbe867db0941bd5592f8f43810) no-repeat scroll;
  background-position: 2% center;
  background-size: auto 50%;
  padding-left: 50px;
}

@media screen and (max-width: 350px) {
  .posts-container .search-container form .search-input {
    width: 90%;
  }
}

.posts-container .search-container form .search-input:focus {
  border: 1px solid #555;
}

.posts-container .search-container form .search-select {
  text-align: center;
  width: 30%;
  font-size: 16px;
  color: #444;
  border: none;
  border-left: 1px solid lightgray;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.posts-container .search-container form .search-select:after {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 100%;
  line-height: 38px;
  content: "\2228";
  text-align: center;
  color: #714bb9;
  font-size: 24px;
  border-left: 1px solid #3c1c78;
  z-index: -1;
}

.posts-container .search-container form .search-select:focus {
  border: 1px solid #555;
}

.posts-container .search-container form .search-submit {
  width: 15%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 16px;
  color: white;
  border: none;
  background-color: #a217ff;
  cursor: pointer;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.posts-container .search-container form .search-submit:hover {
  background-color: #6900b0;
}

.posts-container .posts {
  width: 70%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.posts-container .posts .card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 220px 120px 40px 60px;
  grid-template-areas: "image" "text" "tags" "stats";
  border-radius: 18px;
  background: white;
  box-shadow: 0px 0px 5px grey;
  text-align: center;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  margin: 2%;
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

@media screen and (max-width: 500px) {
  .posts-container .posts .card {
    grid-template-columns: 250px;
  }
}

.posts-container .posts .card:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  box-shadow: 0px 0px 3px grey;
}

.posts-container .posts .card .card-image {
  grid-area: image;
  background: var(--background);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
  background-position: center;
}

.posts-container .posts .card .card-text {
  grid-area: text;
  margin: 25px;
}

.posts-container .posts .card .card-text .date {
  font-size: 13px;
}

.posts-container .posts .card .card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}

.posts-container .posts .card .card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.posts-container .posts .card .card-tags {
  grid-area: tags;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.posts-container .posts .card .card-tags .tag {
  font-weight: bold;
  color: gray;
  font-size: 12px;
  margin: auto 10px;
}

.posts-container .posts .card .card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a217ff), to(#0f4ea7));
  background-image: linear-gradient(to bottom right, #a217ff, #0f4ea7);
}

.posts-container .posts .card .card-stats .icon {
  height: 20px;
}

@media screen and (max-width: 500px) {
  .posts-container .posts .card .card-stats .icon {
    height: 15px;
  }
}

.posts-container .posts .card .card-stats .stat {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 10px;
  color: white;
}

.posts-container .posts .card .card-stats .stat .value {
  font-size: 24px;
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .posts-container .posts .card .card-stats .stat .value {
    font-size: 18px;
  }
}

.posts-container .pagination {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  align-content: center;
  margin: 5% auto;
  margin-top: 2%;
}

.posts-container .pagination ul {
  display: inline-block;
  list-style-type: none;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none !important;
  margin: 5% 0%;
  margin-bottom: 2%;
}

.posts-container .pagination ul li {
  display: inline;
}

.posts-container .pagination ul li a {
  text-decoration: none;
  border: 1px solid gray;
  color: gray;
  border-radius: 50%;
  padding: 15px 20px;
}

.posts-container .pagination ul li a:hover {
  color: white;
  cursor: pointer;
  background-color: #0f4ea7;
  border: 1px solid #0f4ea7;
}

.posts-container .pagination ul .active {
  color: white;
  background-color: #0f4ea7;
  border: 1px solid #0f4ea7;
  border-radius: 50%;
  padding: 15px 20px;
}

.nav-bar .full-height {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: rgba(19, 17, 17, 0.39);
}

.nav-bar .navbar-order {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: 95%;
  margin: auto;
  height: 60px;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .nav-bar .navbar-order {
    height: 50px;
  }
}

.nav-bar .logo {
  height: 55px;
}

@media screen and (max-width: 1200px) {
  .nav-bar .logo {
    height: 45px;
  }
}

.nav-bar .icon {
  height: 50px;
}

@media screen and (max-width: 1200px) {
  .nav-bar .icon {
    height: 40px;
  }
}

.nav-bar img {
  height: 60px;
}

.nav-bar .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  border-right: 1px solid gray;
}

@media screen and (max-height: 450px) {
  .nav-bar .sidenav {
    padding-top: 15px;
  }
}

.nav-bar .sidenav ul {
  list-style-type: none;
  padding-left: 0;
}

.nav-bar .sidenav a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 28px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 20px 0px;
  font-weight: 400;
}

@media screen and (max-height: 450px) {
  .nav-bar .sidenav a {
    font-size: 18px;
  }
}

.nav-bar .sidenav .page:hover {
  font-weight: bold;
}

.nav-bar .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.post-create-container .modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  /* The Close Button */
}

.post-create-container .modal .modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 16px;
}

@media screen and (max-width: 1200px) {
  .post-create-container .modal .modal-content {
    width: 60%;
  }
}

@media screen and (max-width: 770px) {
  .post-create-container .modal .modal-content {
    width: 80%;
  }
}

.post-create-container .modal .modal-content h1 {
  text-align: center;
}

.post-create-container .modal .modal-content .center {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

.post-create-container .modal .modal-content .center .file-input {
  display: none;
}

.post-create-container .modal .modal-content .center .custom-file-input {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 5% auto;
  border-radius: 16px;
}

.post-create-container .modal .modal-content .chosen-style {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  margin-bottom: 5%;
}

@media screen and (max-width: 350px) {
  .post-create-container .modal .modal-content .chosen-style .chosen-container-multi {
    width: 90% !important;
  }
}

.post-create-container .modal .modal-content .chosen-style .chosen-container-multi .chosen-choices {
  background-image: none;
  width: 100%;
  font-size: 14px;
  color: #444;
  border: none;
  border-radius: 16px;
  background-color: white;
  padding: 15px 15px;
  margin: 0 auto;
  display: block;
  box-shadow: 0px 0px 8px lightgray;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.post-create-container .modal .modal-content .chosen-style .chosen-container-multi .chosen-choices:focus {
  border: 1px solid #555;
}

.post-create-container .modal .modal-content .chosen-style .chosen-container-multi .chosen-choices .search-choice {
  border: 1px solid lightgray;
  border-radius: 16px;
  font-size: 14px;
  background: none;
}

.post-create-container .modal .modal-content .preview-image {
  width: 30%;
  height: auto;
  display: block;
  margin: auto;
}

.post-create-container .modal .modal-content .submit-button {
  border-style: none;
  background-color: #a217ff;
  display: block;
  font-weight: bold;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  border-radius: 25px;
  margin: 3% auto;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

.post-create-container .modal .modal-content .submit-button:hover {
  background-color: #6900b0;
}

.post-create-container .modal .modal-content .form-input {
  width: 80%;
  font-size: 14px;
  color: #444;
  border: none;
  border-radius: 16px;
  background-color: white;
  padding: 15px 15px;
  margin: 5% auto;
  display: block;
  box-shadow: 0px 0px 8px lightgray;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.post-create-container .modal .modal-content .form-input:focus {
  border: 1px solid #555;
}

@media screen and (max-width: 350px) {
  .post-create-container .modal .modal-content .form-input {
    width: 90%;
  }
}

.post-create-container .modal .modal-content .form-double-input {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

@media screen and (max-width: 770px) {
  .post-create-container .modal .modal-content .form-double-input {
    width: 100%;
  }
}

.post-create-container .modal .modal-content .form-double-input .form-double-item {
  width: 50%;
}

@media screen and (max-width: 770px) {
  .post-create-container .modal .modal-content .form-double-input .form-double-item {
    width: 100%;
  }
}

.post-create-container .modal .modal-content .form-double-input .form-double-item p {
  text-align: center;
}

.post-create-container .modal .modal-content textarea {
  height: 100px;
  resize: none;
  overflow: hidden;
}

.post-create-container .modal .close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.post-create-container .modal .close:hover,
.post-create-container .modal .close :focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  width: 80%;
  color: black;
  height: 80px;
  border-top: 0.5px solid gray;
  margin: auto;
  padding: 1%;
}

@media screen and (max-width: 770px) {
  .footer {
    width: 95%;
  }
}

.footer .project-info span {
  display: block;
  clear: both;
}

.footer .social-media {
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
}

.footer .icon {
  width: 30px;
  margin: 0px 5px;
}

.fixedbutton {
  position: fixed;
  bottom: 3%;
  right: 3%;
  width: 3%;
  border-radius: 50%;
  min-width: 55px;
  background-color: #a217ff;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.fixedbutton:hover {
  background-color: #6900b0;
  box-shadow: 0px 0px 3px grey;
}

.dashboard-container {
  width: 80%;
  margin: 5% auto;
}

